@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body,
html,
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

:root {
  --lrgtitle-font-family: "Lato", sans-serif;
  --smtext-font-family: "Montserrat", sans-serif;
}

html,
body {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  min-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 1em;
}

::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  margin: auto;
}

.section1 {
  position: relative;
  background-image: url(/img/landingpage-image.png);
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}

@media only screen and (min-width: 1000px) {
  .section1 {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 700px) {
  .section1 {
    background-image: url(/img/forest-full.svg);
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 600px) {
  .section1 {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.navbar {
  position: fixed;
  padding: 0 50px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  width: 100vw;
  background: transparent;
}

.navbar .desktop-nav-links {
  width: 100%;
}

.navbar .desktop-nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 16px;
}

.navbar .desktop-nav-links ul li a {
  padding: 10px 20px;
  color: gray;
  font-size: 20px;
  display: block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-family: var(--lrgtitle-font-family);
}

.navbar .desktop-nav-links ul li a:hover {
  color: black;
}

@media only screen and (min-width: 1000px) {
  .navbar {
    position: fixed;
    background-color: white;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar .desktop-nav-links {
    display: none;
  }
}

@media only screen and (max-width: 1000px) and (max-width: 600px) {
  .navbar {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 1000px) and (max-width: 320px) {
  .navbar {
    padding: 10px 10px;
  }
}

.logo,
.logo-topnav {
  width: 165px;
  padding: 5px 0;
  opacity: 0;
}

@media only screen and (min-width: 1000px) {
  .logo,
  .logo-topnav {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .logo,
  .logo-topnav {
    width: 135px;
    position: relative;
    top: 2px;
  }
}

@media only screen and (max-width: 320px) {
  .logo,
  .logo-topnav {
    width: 107px;
    position: relative;
    top: 2px;
  }
}

.sticky {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  padding: 0 15px;
  width: 100vw;
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px -0.5px rgba(0, 0, 0, 0.611);
          box-shadow: 0px 0px 2px -0.5px rgba(0, 0, 0, 0.611);
}

@media only screen and (min-width: 1000px) {
  .sticky {
    padding: 0px 50px;
  }
}

@media only screen and (max-width: 320px) {
  .sticky {
    padding: 0px 10px;
  }
}

nav.sticky .logo-topnav {
  opacity: 1;
}

.menu-icon {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 100;
  height: 55px;
  cursor: pointer;
}

.menu-icon > span {
  width: 50px;
  height: 3px;
  background: rgba(230, 230, 230, 0.659);
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 2px 7px -0.5px rgba(0, 0, 0, 0.611);
          box-shadow: 0px 2px 7px -0.5px rgba(0, 0, 0, 0.611);
}

.menu-icon:hover span:nth-child(1) {
  width: 35px;
}

.menu-icon:hover span:nth-child(2) {
  width: 40px;
}

.menu-icon.active span:nth-child(1) {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-45deg) translate(-12px, 12px);
          transform: rotate(-45deg) translate(-12px, 12px);
  width: 55px;
}

.menu-icon.active span:nth-child(2) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(45deg) translate(-15px, -14px);
          transform: rotate(45deg) translate(-15px, -14px);
  width: 55px;
}

.menu-icon .line-1 {
  width: 3rem;
  -ms-grid-column-align: end;
      justify-self: end;
}

.menu-icon .line-2 {
  width: 35px;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (max-width: 600px) {
  .menu-icon {
    padding-right: 0;
    height: 40px;
  }
  .menu-icon > span {
    width: 3rem;
    height: 3px;
    background: rgba(230, 230, 230, 0.659);
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 2px 7px -0.5px rgba(0, 0, 0, 0.611);
            box-shadow: 0px 2px 7px -0.5px rgba(0, 0, 0, 0.611);
  }
  .menu-icon:hover span:nth-child(1) {
    width: 35px;
  }
  .menu-icon:hover span:nth-child(2) {
    width: 40px;
  }
  .menu-icon.active span:nth-child(1) {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(-45deg) translate(-5px, 12px);
            transform: rotate(-45deg) translate(-5px, 12px);
    width: 40px;
  }
  .menu-icon.active span:nth-child(2) {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
  .menu-icon.active span:nth-child(3) {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(45deg) translate(-8px, -14px);
            transform: rotate(45deg) translate(-8px, -14px);
    width: 40px;
  }
  .menu-icon .line-1 {
    width: 2.3rem;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .menu-icon .line-2 {
    width: 2rem;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.sidebar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  top: 0;
  right: -100%;
  background: #222;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sidebar h2 {
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: var(--smtext-font-family);
  color: gray;
}

.sidebar h2 a {
  color: inherit;
  font-family: inherit;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.sidebar h2 a:hover {
  color: white;
}

.sidebar li {
  color: gray;
  padding-top: 25px;
  padding-left: 50px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.sidebar li h4 {
  font-family: var(--smtext-font-family);
}

.sidebar li a {
  font-family: var(--smtext-font-family);
  color: inherit;
  font-weight: small;
  font-size: 25px;
}

.sidebar li hr {
  color: gray;
}

.sidebar li:hover {
  color: white;
}

@media only screen and (max-width: 320px) {
  .sidebar h2 {
    padding-left: 10%;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: var(--smtext-font-family);
    color: gray;
  }
  .sidebar h2 a {
    color: inherit;
    font-family: inherit;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }
  .sidebar h2 a:hover {
    color: white;
  }
  .sidebar li {
    color: gray;
    padding-top: 25px;
    padding-left: 10%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
}

.line-devider {
  width: 80%;
  height: 1px;
  background-color: rgba(68, 68, 68, 0.8);
  margin-left: 10%;
  margin-top: 18px;
}

@media only screen and (max-width: 600px) {
  .line-devider {
    margin-left: 13%;
  }
}

.active {
  right: 0px;
}

.active .menu-icon {
  overflow-y: hidden;
}

.active .logo {
  display: none;
  width: 100%;
  height: 110px;
  margin-top: 10px;
  margin-left: -15px;
  margin-bottom: -10px;
}

.desktop-nav-links ul li a {
  padding: 10px 20px;
  color: gray;
  font-size: 20px;
  display: block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.desktop-nav-links ul li a:hover {
  color: black;
}

@media only screen and (min-width: 1000px) {
  .desktop-nav-links {
    display: block !important;
  }
}

.socials-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-size: 20px;
  color: #585858;
  padding: 20px 30px;
}

.socials-nav i {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  padding: 10px 20px;
}

.socials-nav i:hover {
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .socials-nav i {
    padding-left: 0px;
    padding-right: 20px;
  }
}

.welcome-page-text-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catch-phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Peddana", sans-serif;
  font-style: normal;
  font-weight: normal;
  place-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0%;
  font-size: 4rem;
  line-height: 1.5;
  letter-spacing: 0.375em;
  padding-left: 0.375em;
  color: rgba(134, 141, 150, 0.844);
  opacity: 0.89;
  text-transform: uppercase;
}

@media only screen and (min-width: 1400px) {
  .catch-phrase {
    text-align: left;
    padding: 0 50%;
    top: -58%;
    left: -10%;
  }
}

@media only screen and (max-width: 600px) {
  .catch-phrase {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 320px) {
  .catch-phrase {
    font-size: 1.9rem;
  }
}

.enter-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.enter-btn-container .button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 6vh;
  top: 12%;
  margin: 0 auto;
  place-items: center;
  text-align: center;
  border: 1.5px solid #c1c1c1;
  font-family: "Peddana", serif;
  font-style: normal;
  font-weight: normal;
  color: gray;
  font-size: 37px;
  letter-spacing: 0.375em;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.enter-btn-container .button a {
  -webkit-transition: color 2s ease;
  transition: color 2s ease;
  height: 100%;
  width: 100%;
  padding-left: 0.375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  color: rgba(134, 141, 150, 0.844);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.enter-btn-container .button a:hover {
  color: white;
}

.enter-btn-container .button:hover {
  background-color: black;
  border-color: black;
  color: white;
}

@media only screen and (min-width: 1000px) {
  .enter-btn-container .button {
    width: 250px;
    top: -116px;
    right: 63%;
  }
}

@media only screen and (max-width: 600px) {
  .enter-btn-container .button {
    height: 7.5vh;
    border: 1px solid #c1c1c1;
  }
  .enter-btn-container .button a {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 320px) {
  .enter-btn-container .button {
    height: 7.5vh;
    border: 1px solid #c1c1c1;
  }
  .enter-btn-container .button a {
    font-size: 1.3rem;
  }
}

.gallery-img-container {
  width: 100vw;
  height: auto;
}

.gallery-img-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: bottom;
}

.text-wrapper {
  padding-left: 9%;
  padding-right: 9%;
}

@media only screen and (min-width: 1400px) {
  .text-wrapper {
    padding: 0 25%;
  }
}

@media only screen and (max-width: 320px) {
  .text-wrapper {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.about-img {
  min-width: 100vw;
  max-height: 500px;
}

.about-text-container {
  width: 100vw;
  padding: 50px 10%;
}

.about-text-container h1 {
  width: 100%;
  font-family: "Lato", serif;
  text-align: left;
  font-weight: 700;
  font-size: 30px;
}

.about-text-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
  padding: 16px 0;
  line-height: 1.73;
}

@media only screen and (max-width: 320px) {
  .about-text-container {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

.findoutmore-btn-container {
  width: 100vw;
}

.findoutmore-btn-container h1 {
  font-family: var(--lrgtitle-font-family);
  font-weight: 700;
  text-align: center;
}

.findoutmore-btn-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  text-align: center;
  width: 250px;
  height: 45px;
  margin-top: 0px;
  border: 1px solid lightgray;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: inherit;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.findoutmore-btn-container a:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.findoutmore-btn-container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  width: 100vw;
  padding-top: 80px;
  margin-bottom: -10px;
}

.findoutmore-btn-container-center h1 {
  font-family: var(--lrgtitle-font-family);
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 23px;
  letter-spacing: 3px;
  text-align: center;
}

.findoutmore-btn-container-center a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  text-align: center;
  width: 250px;
  height: 55px;
  font-size: 12px;
  letter-spacing: 3px;
  border: 1px solid lightgray;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: inherit;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.findoutmore-btn-container-center a:hover {
  background-color: black;
  color: white;
}

.img-side-left {
  margin: 0 auto;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  place-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  max-height: 900px;
  overflow: hidden;
  padding: 10% 0;
  margin: 0px 0;
}

.img-side-left img {
  position: relative;
  bottom: 0;
  left: 0;
  width: 65%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  border: 4px solid rgba(245, 242, 242, 0.776);
}

.img-side-left h4 {
  font-family: "Lato", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 60px;
  place-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 12%;
  right: 5%;
  font-size: 15px;
  margin: 0 auto;
}

@media only screen and (max-width: 1650px) {
  .img-side-left {
    max-height: 680px;
  }
}

@media only screen and (max-width: 1439px) {
  .img-side-left {
    max-height: 600px;
  }
}

@media only screen and (min-width: 1400px) {
  .img-side-left img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .img-side-left {
    margin: -40px 0px;
  }
}

@media only screen and (max-width: 320px) {
  .img-side-left {
    margin: 0px 0px;
  }
}

.img-side-right {
  margin: 0 auto;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  place-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  overflow: hidden;
  padding: 10% 0;
  margin: 0px 0;
}

.img-side-right img {
  position: relative;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid rgba(245, 242, 242, 0.776);
}

.img-side-right h4 {
  font-family: "Lato", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-weight: 700;
  letter-spacing: 3px;
  padding-bottom: 60px;
  place-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 20px;
  left: 8%;
  font-size: 13px;
  margin: 0 auto;
}

.collections {
  width: 100vw;
  padding-top: 50px;
}

.collections h1 {
  font-size: 25px;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.collections p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 16px 0;
  font-size: 15px;
  line-height: 1.73;
}

.projects {
  margin-top: -150px;
}

@media only screen and (min-width: 1200px) {
  .projects {
    margin-top: -60px;
  }
}

@media only screen and (max-width: 600px) {
  .projects {
    margin-top: -50px;
  }
}

.explore-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  place-items: flex-start;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  padding: 40px 0;
  padding-bottom: 100px;
}

.explore-container .line {
  letter-spacing: 4px;
  color: black;
}

.explore-container .line::before {
  content: "";
  position: relative;
  bottom: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  display: inline-block;
  height: 1px;
  background: currentColor;
  width: 48px;
  margin-right: 16px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.explore-container .line.line:hover::before {
  width: 80px;
}

.explore-container .line line {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .explore-container {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 320px) {
  .explore-container {
    padding-bottom: 40px;
  }
}

.swiper-container {
  margin-top: 50px;
  width: 80%;
  height: 700px;
  margin-bottom: 200px;
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .swiper-container {
    height: 450px;
    width: 85vw;
  }
}

@media only screen and (max-width: 320px) {
  .swiper-container {
    margin-right: 20px;
    height: 350px;
    width: 85vw;
  }
}

.swiper-wrapper {
  width: 500px;
  height: 700px;
}

.swiper-slide {
  width: 500px;
  height: 700px;
  background-size: cover;
}

.swiper-slide h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  place-items: center;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  top: 110%;
  pointer-events: none;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .swiper-slide {
    height: 500px;
  }
}

@media only screen and (max-width: 320px) {
  .swiper-slide {
    height: 400px;
  }
}

.slide1 {
  background-image: url(/img/Cats.jpeg);
  background-size: cover;
}

.slide2 {
  background-image: url(/img/Landscape2.jpeg);
  background-size: cover;
}

.slide3 {
  background-image: url(/img/Adjustments.jpg);
  background-size: cover;
}

.slide4 {
  background-image: url(/img/People2.jpeg);
  background-size: cover;
}

.swiper-pagination {
  color: black;
  right: 80%;
  width: 30px;
}

.carousel_nav-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 5%;
}

@media only screen and (max-width: 600px) {
  .carousel_nav-container {
    top: -40%;
  }
}

@media only screen and (max-width: 320px) {
  .carousel_nav-container {
    top: -80%;
  }
}

.swiper_button-container {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 15px;
  left: 0%;
  top: 0;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .swiper-button-prev,
  .swiper-button-next {
    padding-left: 20px;
    padding-right: 0;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 15px;
}

.swiper_button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.discover-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 780px;
  border: 1px solid lightgray;
  font-weight: bold;
  place-items: center;
  height: 50px;
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.discover-more:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}

@media only screen and (max-width: 600px) {
  .discover-more {
    top: 560px;
  }
}

@media only screen and (max-width: 320px) {
  .discover-more {
    top: 450px;
  }
}

.tiny-title {
  position: relative;
  padding: 0 12px;
  width: 100%;
  bottom: 5%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 3px;
  margin-bottom: -15px;
}

@media only screen and (max-width: 320px) {
  .tiny-title {
    padding: 0 0;
  }
}

.centering-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.s2 {
  margin-bottom: 150px;
}

.s2 .swiper-container {
  margin-top: 40px;
  width: 80%;
  height: 700px;
  margin-bottom: 50px;
  overflow: hidden;
  cursor: pointer;
}

.s2 .swiper-wrapper {
  width: 600px;
  height: 700px;
  margin: 0;
}

.s2 .swiper-slide {
  position: relative;
  width: 80%;
  height: 700px;
  background-size: cover;
  text-align: center;
  margin-bottom: 50px;
  border: 4px solid rgba(245, 242, 242, 0.776);
}

.s2 .swiper-slide h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  place-items: center;
  position: relative;
  top: 110%;
  pointer-events: none;
}

.s2 .swiper-slide h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  position: absolute;
  text-align: center;
  width: 100%;
  letter-spacing: 3px;
  padding: 20px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.s2 .swiper-slide h4 {
  color: gray;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  position: relative;
  padding-top: 5px;
  top: 7%;
}

.s2 .swiper-slide hr {
  place-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0;
  border-top-width: 1px;
  border-color: black;
  width: 20px;
  margin: 7px 0;
}

.s2 .swiper-slide .zoom-img {
  -webkit-transition: -webkit-transform 10s ease;
  transition: -webkit-transform 10s ease;
  transition: transform 10s ease;
  transition: transform 10s ease, -webkit-transform 10s ease;
}

.s2 .swiper-slide .zoom-img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.s2 .swiper-slide .overflow {
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .s2 .swiper-slide {
    height: 500px;
  }
  .s2 .swiper-slide h2 {
    top: 98%;
    padding: 20px;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
  .s2 .swiper-slide h4 {
    color: gray;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    position: relative;
    padding-top: 5px;
    top: 7%;
  }
  .s2 .swiper-slide hr {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 0;
    border-top-width: 1px;
    border-color: black;
    width: 20px;
    margin: 4px 0;
  }
}

@media only screen and (max-width: 320px) {
  .s2 {
    height: 400px;
  }
  .s2 h2 {
    top: 98%;
    padding: 20px;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
  .s2 h4 {
    color: gray;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    position: relative;
    padding-top: 5px;
    top: 7%;
  }
  .s2 hr {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 0;
    border-top-width: 1px;
    border-color: black;
    width: 20px;
    margin: 4px 0;
  }
}

.loading-screen-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 999999;
}

.loading-screen {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #fcfcfc;
  width: 0%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 999;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  background-color: #111;
  color: gray;
  width: 100%;
}

.footer-container h1 {
  padding-top: 40px;
  padding-bottom: 80px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-top: 50px;
  width: 100%;
}

.footer-container a {
  color: inherit;
}

@media only screen and (max-width: 600px) {
  .footer-container h1 {
    font-size: 22px;
    padding-top: 50px;
  }
}

.footer-grid-container {
  width: 80%;
}

.footerlinks-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 2fr);
  width: auto;
}

.footerlinks-container ul {
  text-align: left;
  margin-top: -20px;
}

.footerlinks-container ul li {
  padding-top: 10px;
}

.footerlinks-container li {
  -webkit-transition: color 0.8s ease;
  transition: color 0.8s ease;
}

.footerlinks-container li:hover {
  color: white;
}

.footerlinks-container a {
  padding: 0;
  margin: 0;
}

.footerlinks-container h3 {
  color: white;
  padding-bottom: 10px;
}

@media only screen and (min-width: 1500px) {
  .footerlinks-container {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(200px, 2fr);
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 320px) {
  .footerlinks-container {
    -ms-grid-columns: (minmax(0px, 100px))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(0px, 100px));
    grid-auto-rows: minmax(200px, 2fr);
  }
}

.copyright {
  color: gray;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 11px;
}

.footerlinks-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.footerlinks-item h3 {
  font-size: 12px;
  font-family: var(--lrgtitle-font-family);
  font-weight: 400;
  letter-spacing: 3px;
}

.footerlinks-item li {
  font-size: 14px;
  font-family: var(--smtext-font-family);
}

@media only screen and (max-width: 600px) {
  .footerlinks-item h3 {
    font-size: 10px;
    font-family: var(--lrgtitle-font-family);
    font-weight: 400;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 320px) {
  .footerlinks-item h3 {
    font-size: 10px;
    font-family: var(--lrgtitle-font-family);
    font-weight: 400;
    letter-spacing: 3px;
  }
}

.email-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  padding: 5% 0;
}

.email-us-container h2 {
  font-family: var(--lrgtitle-font-family);
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.email-us-container .email-us-btn {
  cursor: pointer;
  width: 220px;
  height: 63px;
  outline: none;
  border: 1px solid gray;
  background-color: transparent;
  outline: none;
  color: #808080;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-family: var(--lrgtitle-font-family);
}

.email-us-container .email-us-btn:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: white;
  border-color: white;
  color: black;
}

.footer-links-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  place-items: center;
  padding: 20px 0px;
}

#home .navbar .desktop-nav-links {
  display: none;
}

#about-page {
  padding-top: 70px;
}

#about-page .navbar {
  position: fixed;
  background-color: white;
  margin-top: -70px;
}

#about-page .navbar .logo-topnav {
  opacity: 1;
}

.collections-page-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 100vw;
}

.collections-page-text h2 {
  font-size: 50px;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  padding-bottom: 15px;
}

.collections-page-text h1 {
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
}

.collections-page-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
}

@media only screen and (min-width: 1000px) {
  .collections-page-text {
    margin-right: 50%;
    padding: 0 10%;
    padding-bottom: 60px;
    padding-top: 50px;
  }
  .collections-page-text h1 {
    padding-top: 10px;
  }
  .collections-page-text p {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .collections-page-text {
    margin-top: 40px;
  }
  .collections-page-text h2 {
    font-size: 32px;
  }
  .collections-page-text h1 {
    letter-spacing: 2px;
    padding-bottom: 50px;
  }
  .collections-page-text p {
    padding-bottom: 20px;
  }
}

.collections-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(200px, 3fr);
  grid-gap: 3%;
  margin: 0 auto;
  padding-bottom: 35px;
  padding-top: 50px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

@media only screen and (max-width: 600px) {
  .collections-wrapper {
    padding-bottom: 400px;
    padding-left: 8%;
    padding-right: 10%;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 320px) {
  .collections-wrapper {
    padding-bottom: 400px;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.collections-wrapper .collection-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 4px solid rgba(245, 242, 242, 0.776);
  margin-bottom: 50px;
  height: 320px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.collections-wrapper .collection-items .overflow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.collections-wrapper .collection-items h2 {
  position: absolute;
  bottom: -50px;
  left: 0;
  letter-spacing: 3px;
  padding: 16px 0;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  width: 100%;
}

.collections-wrapper .collection-items a {
  width: 100%;
  height: 100%;
}

.collections-wrapper .collection-items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 10s ease;
  transition: -webkit-transform 10s ease;
  transition: transform 10s ease;
  transition: transform 10s ease, -webkit-transform 10s ease;
}

.collections-wrapper .collection-items img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (min-width: 1400px) {
  .collections-wrapper .collection-items {
    margin-bottom: 90px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .collections-wrapper .collection-items {
    width: 80vw;
  }
}

@media only screen and (max-width: 320px) {
  .collections-wrapper .collection-items {
    width: 100vw;
  }
}

.indiv-collectionpage-text {
  width: 100vw;
  padding: 50px 10%;
  padding-right: 3%;
}

.indiv-collectionpage-text h1 {
  width: 100%;
  font-family: "Lato", serif;
  text-align: left;
  font-weight: 700;
  font-size: 30px;
}

.indiv-collectionpage-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 18px;
  padding: 16px 0;
  line-height: 1.73;
}

.indiv-collectionpage-text a {
  color: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.bottles-img-main {
  position: relative;
  width: 100vw;
  height: auto;
  margin-bottom: 200px;
}

.bottles-img-main img {
  width: 100%;
}

.bottles-img-main h1 {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 50%;
  left: 14%;
  letter-spacing: 3px;
  font-family: var(--lrgtitle-font-family);
  font-weight: 400;
}

.bottles-img-main h2 {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 16.5%;
  top: 50%;
  letter-spacing: 3px;
  font-family: var(--lrgtitle-font-family);
  font-weight: 700;
}

.bottles-img-main h3 {
  position: absolute;
  bottom: 6%;
  left: 46%;
  letter-spacing: 3px;
  font-family: var(--lrgtitle-font-family);
  font-weight: 700;
}

@media only screen and (max-width: 700px) {
  .bottles-img-main {
    margin-bottom: 100px;
  }
  .bottles-img-main img {
    padding: 0;
    height: 350px;
  }
  .bottles-img-main h1 {
    font-size: 11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 110%;
    left: 5%;
  }
  .bottles-img-main h2 {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 104%;
    left: 70%;
  }
  .bottles-img-main h3 {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 104%;
    left: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .bottles-img-main h1 {
    font-size: 11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 112%;
    left: 5%;
  }
  .bottles-img-main h2 {
    width: 100%;
    font-weight: 700;
    font-size: 13px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 104.2%;
    left: 63%;
  }
  .bottles-img-main h3 {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 104%;
    left: 5%;
  }
}

@media only screen and (max-width: 320px) {
  .bottles-img-main h2 {
    width: 100%;
    font-weight: 700;
    font-size: 13px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 104.2%;
    left: 55%;
  }
  .bottles-img-main h1 {
    font-size: 11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 115%;
    left: 5%;
  }
}

.single-collection-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10%;
  max-width: 100%;
}

.single-collection-img-container h1 {
  width: 100%;
  letter-spacing: 3px;
  font-family: var(--lrgtitle-font-family);
  font-weight: 700;
}

.single-collection-img-container img {
  width: 100%;
  max-height: 700px;
  margin-right: 25px;
}

.single-collection-img-container p {
  padding-right: 60%;
  padding-top: 20px;
}

@media only screen and (max-width: 800px) {
  .single-collection-img-container h1 {
    width: 100%;
    font-size: 16px;
    letter-spacing: 3px;
  }
  .single-collection-img-container p {
    padding-right: 0%;
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 600px) {
  .single-collection-img-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .single-collection-img-container h1 {
    width: 100%;
    font-size: 14px;
    letter-spacing: 3px;
    padding-top: 20px;
  }
  .single-collection-img-container img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .single-collection-img-container p {
    font-size: 14px;
    line-height: 1.4;
  }
}

#bottle-collection-page .collections {
  margin-top: -50;
}
/*# sourceMappingURL=main.css.map */